<div class="list">
<% user = User.find(session[:user_id]) %>
<% user.pending_movies.each do |movie| %>
  <div class="hyp-movie" id="<%= movie.rt_id %>">
    <img src="<%= movie.img %>">
    <h2 class="title"><%= movie.title%></h2>
    <p class="year"><%= movie.title%></p>
    <p class="rating"><%= movie.rating %></p>
    <p class="url"><a href="<%= movie.url%>">Read reviews</a></p>

    <button class="mark-watched">Mark as watched</button><br>
    <button class="favorite">Mark as fave</button>
  </div>

<% end %>
</div>